/*반응형웹 responsive.css*/
/*기존 CSS에서 변경되는 사항만 작성한다.*/
/*media 조건 시작값 max 기준 사이트너비값 주로 이용*/
@media screen and (max-width:1300px){
    header nav {display:none;}
    main .visual video {width: 1300px;}
    main .creater{width:100%;}
    main .world section {width:100%;}
    /*4. 3억명의 크리에이터*/
    main .million {width: 100%;}
    main .million .contents img {width:calc((100% / 4) - 10px);}
    main .million .contents img:last-child{display:none;}
} /*~1300*/
@media screen and (max-width:760px){
    header h1 {width: 225.75px;}
    main .creater .img {width: 100%;}
    main .creater .studio {flex-flow:row wrap;}
    main .creater .studio dl{width: calc(100% /2);}
    main .creater .studio dl:last-child {width: 100%;}
    main .world section .contents {flex-flow: column;}
    main .world section .contents li{
        width: 100%; height:150px; padding-top:0;
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;}
    main .world section .contents li:nth-child(2) {margin:10px 0;}
    main .world section .contents li p {margin: 0;}
    main .million h2{font-size: 2.188rem;}
    main .million p{font-size: 1.0rem;}
    main .million .contents img {width:calc((100% / 3) - 10px);}
    main .million .contents img:nth-last-child(2) {display:none;}
} /*~760*/