/* #03c75a */
main {
    font-family:"Noto Sans KR", sans-serif;
}
main h1,main h1 span {
    font-size:3.125rem;
    font-weight:700;
}
main h1 {
    line-height: 1.2; /*120% */
    letter-spacing:-0.4px; /*-4% */
    padding-bottom: 48px;
}
main h1 span{
    color:#03C75A;
}
main p
{
    letter-spacing:-0.4px;
}
main .first {
    font-size:1.5rem;
    line-height:1.2;
    padding-bottom: 48px;
}
main .second {
    font-size:1.25rem;
    line-height:1.7;
    padding-bottom: 50px;
}
main p .user {
    color:#03C75A;
    font-size:1.5rem;
}
main p a {
    font-size:1.25rem;
    text-decoration:underline;
}
main h2 {
    font-size:1.563rem;
    padding-bottom:22px;
}
main h2 span {
    font-size:1.25rem;
}
main .list {
    border-top: 3px solid #000;
    width:930px;
    font-size:1.25rem;
}
main .list thead {
    background-color: #f5f5f5;
}
main .list thead tr {}
main .list thead tr th{}
main .list tbody {
    border:1px solid #aaa;
    border-left:0; border-right:0;
}
main .list tbody tr{}
main .list tbody tr td{}
main .list tbody tr td em{
    font-size:1.25rem;
    color: #03C75A;
}
/* main .list thead tr .align,
main .list tbody tr .align {text-align:center;} */
main .list tr .align {text-align:center;}
main .list tr * {padding-top:15px; padding-bottom:15px;}
main .detail_view {
    display: block;
    text-align:right;
    font-size:1.25rem;
    line-height:24px;
    width:759px;
}
main .btm {
    padding-top:130px;
    width: 937px;
    display: block;
    text-align:center;
    border-radius:30px;
}
main .btm a{
    background-color:#03C75A;
    color:#ffffff;
    font-size:1.25rem;
    border-radius:30px;
    padding:20px 40px 20px 40px;
}