main{
    font-family:"Noto Sans KR", sans-serif;
    width:500px;
    padding:50px;
    letter-spacing:-0.2px;
}
main h1{
    width:900px;
    font-size:4.375rem;
    font-weight:700;
    margin-bottom:25px;
}
main p{
    font-size:1.25rem;
    margin-bottom:57px;
}
main #login_frm{}
main #login_frm fieldset {}
main #login_frm fieldset .skip input{
    font-size:1.875rem;
    font-weight:700;
}
main #login_frm fieldset dl
{
}
main #login_frm fieldset dl dt{
    font-size:1.875rem;
    font-weight:700;
    margin-bottom:18px;
}
main #login_frm fieldset h2 {
    font-size:1.875rem;
    font-weight:700;
    margin-bottom:32px;
}
main #login_frm fieldset dl dd {
    padding: 15px;
    border-radius:10px;
    margin-bottom:38px;
    border: 1px solid #AAAAAA;
}
main .btn #login_btn {
    width:500px;
    padding: 15px;
    border-radius:10px;
    margin-bottom: 18px;
    background-color:#222222;
    border: 1px solid #AAAAAA;
    color:#ffffff;
}

main .btn #login_btn {
    margin-bottom: 18px;
    background-color:#222222;
    border: 1px solid #AAAAAA;
    color:#ffffff;
}
main .btn #login_googol_btn 
{
    margin-bottom:62px;
    color:#222222;
    border: 1px solid #AAAAAA;
    background-color:#fff;

}
main #login_frm .btn button[type=submit]
{
    width:500px;
    padding:15px;
    border-radius:10px;
}

main .join_link {
    text-align:center;
    width:500px;
}
main .join_link a {
    font-weight: 700;
    letter-spacing:-0.2px;}